@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bs-body-bg: #242424;
  --bs-body-color: #ffffff;
  --bs-secondary-color: grey;
  --bs-tertiary-color: white;
  --light-green: #88f30f;
  --dark-green: #62b30b;
}

.main-content {
  padding-bottom: 50px;
  padding-top:80px;
}
/* Navbar CSS */
.navbar {
  padding: 1rem 6rem;
  height: 100px;
  background-color: #0f0f0f;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.navbar-nav .nav-link {
  color:var(--dark-green);
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color:var(--light-green);
}

.navbar-nav .nav-link.active {
  color: white;
}
/* Navbar CSS END */

a {
  font-weight: 500;
  color:var(--dark-green);
  text-decoration: inherit;
}
a:hover {
  color: var(--light-green);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--light-green);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* Classes CSS START */
.classes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.classes li {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  clip-path: polygon(50% -0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* Create hexagon shape */
}

.classes img {
  width: 100px;
}

.classes li.selected {
  background-color: var(--dark-green);
}

.no-bullets {
  list-style-type: none;
}
/* Classes CSS END */






.stats-buttons.increment {
  background-color: rgb(28, 133, 54); /* Green background for + button */
  color: white; /* White text color */
}

.stats-buttons.decrement {
  background-color: rgb(126, 26, 26); /* Red background for - button */
  color: white; /* White text color */
}

.character img {
  width: 100px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0f0f0f;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid white;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  padding: 0 20px;
}

.footer a {
  text-decoration: none;
  margin: 0 10px;
}

.footer a img {
  vertical-align: middle;
  margin: 0 5px;
}

.home-container {
  background-image: url('client/public/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80vh;
  height: 80vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 0; 
  left: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--light-green);
  }
  button {
    background-color: #f9f9f9;
  }
}
