/* Classes CSS START */
.classes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }
  
  .classes li {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    clip-path: polygon(50% -0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* Create hexagon shape */
  }
  
  .classes img {
    width: 100px;
  }
  
  .classes li.selected {
    background-color: var(--dark-green);
  }
  
  .no-bullets {
    list-style-type: none;
  }
  /* Classes CSS END */